{% form_theme form 'form/_form-fields.html.twig' %}

{% if error %}
    <div class="container">
        <div class="form-submitted-container">
            <div class="form-error">
                {{ error }}
            </div>
        </div>
    </div>
{% endif %}
{% if message %}
    <div class="container">
        <div class="form-submitted-container">
            <div class="form-success">
                {{ message }}
            </div>
        </div>
    </div>
{% endif %}

{% if not sent %}
    <form id="contact_form" action="#" method="post" class="contact-form {{ formname }}" enctype="multipart/form-data" data-parsley-validate>
        <fieldset>
            {{ form_widget(form) }}
            <button type="submit" name="submit" value="{{ button_text }}" class="tiny radius">{{ button_text }}</button>
        </fieldset>
    </form>
{% endif %}
