{% block form_start %}
  {% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
      {% set form_method = method %}
    {% else %}
      {% set form_method = "POST" %}
    {% endif %}
    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
      <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
  {% endspaceless %}
{% endblock form_start %}

{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}





{% block form_row %}
    {% spaceless %}
        {{ form.vars.attr.prefix|raw }}
        <div {% if form.vars.attr.type is defined %}class="name-email-container"{% endif %}>
            {{ form_label(form[key]) }}
            {{ form_errors(form[key]) }}
            {{ form_widget(form[key]) }}
        </div>
        {{ form.vars.attr.postfix|raw }}
    {% endspaceless %}
{% endblock form_row %}

{# Override widget_attributes to prevent 'prefix', 'postfix' etc to show up as attributes in <input> fields. #}
{#{% block widget_attributes %}#}
  {#{% spaceless %} id="{{ id }}" name="{{ full_name }}"#}
    {#{%- if read_only %} readonly="readonly"{% endif %}#}
    {#{%- if disabled %} disabled="disabled"{% endif %}#}
    {#{%- if required %} required="required"{% endif %}#}
    {#{%- if max_length %} maxlength="{{ max_length }}"{% endif %}#}
    {#{%- if pattern %} pattern="{{ pattern }}"{% endif %}#}
    {#{%- for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title', 'value', 'autocomplete' ] %} {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif 'data-' in attrname %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}#}
  {#{% endspaceless %}#}
{#{% endblock widget_attributes %}#}

{%- block widget_attributes -%}
  id="{{ id }}" name="{{ full_name }}"
  {%- if disabled %} disabled="disabled"{% endif -%}
  {%- if required %} required{% endif -%}
  {%- for attrname, attrvalue in attr -%}
    {{- " " -}}
    {%- if attrname in ['placeholder', 'title', 'value', 'autocomplete', 'minlength', 'maxlength'] -%}
      {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
    {%- elseif attrvalue is same as(true) -%}
      {{- attrname }}="{{ attrname }}"
    {%- elseif attrvalue is not same as(false) -%}
      {{- attrname }}="{{ attrvalue }}"
    {%- endif -%}
  {%- endfor -%}
{%- endblock widget_attributes -%}


{# Override widget_container_attributes to prevent 'prefix', 'postfix' etc to show up as attributes in blocks of <input> fields. #}
{% block widget_container_attributes %}
    {% spaceless %}
        {% if id is not empty %}id="{{ id }}" {% endif %}
        {% for attrname, attrvalue in attr %}
            {% if 'data-parsley-' in attrname %}{{ attrname }}="{{ attrvalue }}" {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock widget_container_attributes %}




{# text input fields #}
{% block text_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}"
                {{ block('widget_attributes') }}
                {% if value is not empty %}value="{{ value }}" {% endif %}
                {% if required %}
                data-parsley-trigger="change"
                {% endif %}
                {% if attr.minlength %}
                data-parsley-minlength="{{ attr.minlength }}"
                data-parsley-minlength-message="Please Enter At least {{ attr.minlength }} Characters for your name"
               {% endif %}
                {% if attr.maxlength %}
                data-parsley-maxlength="{{ attr.maxlength }}"
                {% endif %}/>
    {% endspaceless %}
{% endblock text_widget %}





{# Email Input Field #}
{% block email_widget %}
    {% spaceless %}
        {% set type = type|default('email') %}
    <input type="{{ type }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %}value="{{ value }}" {% endif %}

           {% if required %}
           data-parsley-trigger="change"
           {% endif %}
            />
    {% endspaceless %}
{% endblock email_widget %}

{# Text Area Widget #}
{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }}
                {% if required  %}
                data-parsley-trigger="change"
                data-parsley-validation-threshold="{{  attr.minlength - 1  }}"
                {% endif %}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{# base settings for a button in a form #}
{% block button_widget %}
  {% spaceless %}
    {% if label is empty %}
      {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
  {% endspaceless %}
{% endblock button_widget %}

{# attributes to add. ie: value, name etc #}
{% block button_attributes %}
  {% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
  {% endspaceless %}
{% endblock button_attributes %}

{% block button_row %}
  {% spaceless %}
      {{ form_widget(form) }}
  {% endspaceless %}
{% endblock button_row %}


{# submit button #}
{% block submit_widget %}
  {% spaceless %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
  {% endspaceless %}
{% endblock submit_widget %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="parsley-errors-list filled">
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}


