{% form_theme form 'form/_form-fields.html.twig' %}

{# if form is in debug mode Show the notice here in a container #}
{% if debug %}
  <div class="container">
    <div class="form-submitted-container">
      <div class="form-error">
        <p>[Debug] Notification debug mode enabled!</p>
      </div>
    </div>
  </div>
{% endif %}

{# Show Errors Here in a container #}
{% if error and app.request.get(formname) %}
  <div class="container">
    <div class="form-submitted-container">
      <div class="form-error">
        {{ error }}
      </div>
    </div>
  </div>
{% endif %}

{% if message and app.request.get(formname) %}
  <div class="container">
    <div class="form-submitted-container">
      <div class="form-success">
        {{ message }}
      </div>
    </div>
  </div>
{% endif %}


  {% if not sent %}

    {{ form_start(form, {'attr': {'name': formname, 'id': 'contact_form', 'class': 'contact-form', 'data-parsley-validate': 'data-parsley-validate'}}) }}
    {{ form_errors(form) }}
    <fieldset>
      {% for key, value in fields  %}
        {% if value.config.name != 'submit' %}
          {{ form_label(form[key]) }}
          {{ form_errors(form[key]) }}
          {{ form_widget(form[key]) }}
        {% endif %}
      {% endfor %}
            {{ form_row(form.submit) }}
      </fieldset>

    {{ form_end(form) }}

  {% else %}
    {{ html_post }}
  {% endif %}
