<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
  <link rel="dns-prefetch" href="http://cdn.corydowdy.com"/>
  <link rel="dns-prefetch" href="http://use.typekit.net"/>
  <link rel="dns-prefetch" href="http://www.google-analytics.com" />
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
        {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{# <script pagespeed_no_defer="">
        function loadCSS(e,t,n){"use strict";var r=window.document.createElement("link");var i=t||window.document.getElementsByTagName("script")[0];r.rel="stylesheet";r.href=e;r.media="only x";i.parentNode.insertBefore(r,i);setTimeout(function(){r.media=n||"all"})}
        loadCSS('{{ paths.theme }}css/app.min.css');
    </script>
#}




    <meta name="msvalidate.01" content="346403273F73350B6928A46B28684A5B" />
    <meta name="mobile-web-app-capable" content="yes">
  {% include 'headers/_touchicons.twig' %}
  <link rel="stylesheet" href="{{ paths.theme }}css/app.min.css"/>

</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <div class="hide--small">
            <nav id="bt-menu" class="bt-menu">
                <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                {{ menu('main', '_menu_main.twig') }}
                <ul>
                    <li><a href="https://github.com/cdowdy" class="bt-icon icon-github">Code Hosted @ Github</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="small-10 columns">
                    <h1 class="header_logo">
                        <a href="/"><img src="{{ paths.theme }}img/logo.svg" alt="Cory Dowdy Web Development logo"> <small>//blog</small></a></h1>
                </div>
            </div>
        </div><!-- .hide- -small -->
        <div class="hide--large">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title"><a href="/">CoryDowdy <small>//blog</small></a></h1>
                </section>
            </nav>
        </div>


        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            {{ menu('main', '_menu_offcanvas.twig') }}
        </aside>

        <section class="main-section">
