<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
  <head>
   {% include 'webfonts/webfont.js.twig' %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileImage" content="/favicon-144.png"/>
    <meta name="msapplication-TileColor" content="#ecf0f1"/>
    <meta name="msvalidate.01" content="346403273F73350B6928A46B28684A5B" />
    <meta name="mobile-web-app-capable" content="yes">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
    {% include 'headers/_touchicons.twig' %}

    <link rel="stylesheet" href="{{ paths.theme }}css/app.min.css">
      <script pagespeed_no_defer="">
          /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
          window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
          grunticon(["{{ paths.theme }}img/grunticon/icons.data.svg.css", "{{ paths.theme }}img/grunticon/icons.data.png.css", "{{ paths.theme }}img/grunticon/icons.fallback.css"]);
      </script>
      <noscript><link href="{{ paths.theme }}img/grunticon/icons.fallback.css" rel="stylesheet"></noscript>
   {% include 'fonts/_work-fout.html.twig' %}

    <script src="{{ paths.theme }}js/modernizr_home.js"></script>

</head>
<body>
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <div class="hide--small">
            <nav id="bt-menu" class="bt-menu">
                <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                {{ menu('main', '_menu_main.twig') }}
                <ul>
                    <li><a href="https://github.com/cdowdy" class="bt-icon icon-github">Code Hosted @ Github</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="small-10 columns">
                    <h1 class="header_logo"><a href="/"><img src="{{ paths.theme }}img/logo.svg" alt="Cory Dowdy Web Development logo"/> <small>//work</small></a></h1>
                </div>
            </div>
        </div><!-- .hide--small -->
        <div class="hide--large">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title"><a href="/">CoryDowdy <small>//work</small></a></h1>
                </section>
            </nav>
        </div>

        <!--
        <div>
            <p>test code</p>
        </div>
        -->
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            {{ menu('main', '_menu_offcanvas.twig') }}
        </aside>

        <section class="main-section">
