{% set dev = true %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    {# Include DNS Prefetch  #}
    {#
       October 29 2014 move here because:
       https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md#explicit-prefetches
    #}
    {% block dns_prefetch %}
        <link rel="dns-prefetch" href="//use.typekit.net"/>
        <link rel="dns-prefetch" href="//p.typekit.net" />
        <link rel="dns-prefetch" href="//www.google-analytics.com"/>
        <link rel="dns-prefetch" href="//cdn.corydowdy.com"/>
    {% endblock dns_prefetch %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
        {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

    {# Bing Validation #}
    <meta name="msvalidate.01" content="346403273F73350B6928A46B28684A5B" />
    {# Chrome Webapp Capable #}
    <meta name="mobile-web-app-capable" content="yes">

    {% block touch_icons %}
        {% include 'touch_icons/_touch_icons.twig' %}
    {% endblock touch_icons  %}

    {# include javascripts / javascripts block #}
    {% block header_javascripts %}
        <script>

            {% spaceless %}
            {# Include TypeKit JavaScript #}
            {% include 'js/typekit/typekit.min.js' %}
            {% endspaceless %}

        </script>
        {# Modernizr:
            Current: 08-27-2014
            No Flexbox, No Flexbox Legacy, CSS Rem Unit, CSS Media Queryies
        #}
    {% endblock %}

    {% block enhance_js_meta %}
    <meta name="fullcss"  content="{{ paths.theme }}css/app.min.10-16-2014.css">
    {% endblock %}




    {#  stylesheets block #}
    {% block stylesheets %}

        {% block fout %}
            {#
              Individual FOUT Styles Go in Page Template
              but they should probably be here because most
              carry over to each page.
              Gotta think of a better way
            #}
        {% endblock fout %}

        {% if app.request.cookies.has('fullcss') %}
            <link rel="stylesheet" href="{{ paths.theme }}css/app.min.10-16-2014.css"/>
        {% else %}
            {% block inlined_styles %}
                {# Individual Inlined Styles Go in Page Template #}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block enhance %}
        <script>
        {% spaceless %}
            {# Include Enhance JS #}
            {% include 'js/enhance/enhance-10-27-2014.min.js' %}
        {% endspaceless %}
        </script>
    {% endblock enhance %}




    <noscript><link rel="stylesheet" href="{{ paths.theme }}css/app.min.10-16-2014.css"/></noscript>

    {% block picturefill %}
    {# dirty hack to include picturefill AFTER the noscript css#}
      <script src="{{ paths.theme }}js/lib/svg4every1-modernizr.js" async ></script>
    {% endblock picturefill %}


    {% block ie8_conditionals %}
    {#
      These have to be here because they scan CSS Files for media queries
      Maybe Use Modernizr Load here instead of the Top Script Block to
      Load these for unsupported browsers
      And I absolutely hate it
    #}
        <!--[if IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->
    {% endblock ie8_conditionals %}
</head>
<body>
{% block svgs %}
{% endblock svgs %}
<header class="app-bar promote-layer" role="banner">
    <div class="app-bar-container">
        <button class="menu">
            <svg class="menu-icon">
                <use xlink:href="{{ paths.theme }}svgsprites/linkicons-sprite.svg#a"></use>
            </svg>
        </button>
        <h1 class="logo"><a class="back-home" href="/">Cory Dowdy</a></h1>
    </div>
</header>
{# Insert Menu from menu directory #}
{{ menu('main', 'menu/_menu.html.twig') }}
<main class="container" role="main">
    <!--[if lt IE 9]>
    <div class="ie_8_update_notice">
        <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Which is no longer supported.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and increase
            your security across the web.
        </p>
    </div>
    <![endif]-->
{# Main Body #}
{% block body %}

{% endblock body %}

{#  Footer block and closing main tag    #}

{% block footer %}

</main>


    {% block footer_javascripts %}
{% if dev == true %}
  {# development enviroment dont place GA in page #}
    {% else %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46388684-1', 'auto');
        ga('send', 'pageview');

      </script>
{% endif %}

    {% endblock %}

</body>
</html>
{% endblock %}
