{% set css_update = '02-18-2016' %}
{# make sure to include fn-navTrigger into critical CSS if you get checkbox flashes #}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    {# hold off on client hints for now... I'm not exactly sure on how to fetch correct image #}
    {#<meta http-equiv="CH-Accept" value="DPR, Viewport-Width, Width">#}
    {# Include DNS Prefetch  #}
    {#
       October 29 2014 move here because:
       https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md#explicit-prefetches
    #}
    {% block dns_prefetch %}
        <link rel="dns-prefetch" href="https://use.typekit.net"/>
        <link rel="dns-prefetch" href="https://p.typekit.net" />
        <link rel="dns-prefetch" href="https://pullzone1-corydowdywebdesi.netdna-ssl.com"/>
        <link rel="preconnect" href="https://use.typekit.net" crossorigin>
        <link rel="preconnect" href="https://p.typekit.net"/>
    {% endblock dns_prefetch %}

  <script>{% spaceless %}{# Include TypeKit JavaScript #}{% include 'js/typekit/typekit.min.js' %}
            {% endspaceless %}
  </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2C3E50"/>
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
        {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
  {% block metaSeo %}
    <meta name="description" content="{{ record.metadescription }}" />
    {% if record.metakeywords %}
    <meta name="keywords" content="{{ record.metakeywords }}" />
  {% endif %}
  {% endblock metaSeo %}

    {# Bing Validation #}
    <meta name="msvalidate.01" content="346403273F73350B6928A46B28684A5B" />
    {# Chrome Webapp Capable #}
    <meta name="mobile-web-app-capable" content="yes">

    {% block touch_icons %}
        {% include 'touch_icons/_touch_icons.twig' %}
    {% endblock touch_icons  %}



    {% block enhance_js_meta %}
    <meta name="fullcss"  content="{{ paths.theme }}css/app.{{ css_update }}.min.css">
    <meta name="gpng" content="{{ paths.theme }}css/icons/icons.fallback.01182016.css">
    <meta name="gsvg" content="{{ paths.theme }}css/icons/icons.data.svg.01182016.css">
    <meta name="gdpng" content="{{ paths.theme }}css/icons/icons.data.png.01182016.css">
    {% endblock %}
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ paths.theme }}css/oldie.07-17-2015.css">
  <![endif]-->
    {#  stylesheets block #}
  {% block fout %}
    {#<style>.wf-loading h1,.wf-loading h2,.wf-loading h3,.wf-loading h4,.wf-loading h5,.wf-loading h6{font-family:sans-serif;font-weight:400;font-style:normal;color:#2c3e50;text-rendering:auto;margin-top:.2rem;margin-bottom:.5rem;line-height:1.4}.wf-inactive h2,.wf-loading h2{font-size:1.6875rem}.wf-inactive h3,.wf-loading h3{font-size:1.375rem}.wf-loading p,.wf-inactive p{font-family:sans-serif;font-weight:400;font-size:1rem;line-height:1.6;margin-bottom:1.25rem;text-rendering:auto}.wf-loading .fn-header__name a{color:#f2f2f2}.wf-loading .fn-navigation__item a{color:#f2f2f2;line-height:inherit;padding:15px 20px;padding:.9375rem 1.25rem}@media screen and (min-width: 50em){.wf-loading #fn-noJs_label,.fn-navTrigger__no-js{display:none;visibility:hidden}}.wf-loading strong,.wf-loading b{font-weight:bold}</style>#}
    <style>
      {% include 'css/fout.twig' %}
    </style>

  {% endblock fout %}

    {% block stylesheets %}



        {% if app.request.cookies.has('fullcss') %}
    <link rel="stylesheet" href="{{ paths.theme }}css/app.{{ css_update }}.min.css"/>
    <link rel="stylesheet" href="{{ app.request.cookies.get('grunticon') }}" />
        {% else %}
            {% block inlined_styles %}
                {# Individual Inlined Styles Go in Page Template #}
            {% endblock %}

            {% block enhance %}
                <script>
                    {% spaceless %}
                    {# Include Enhance JS #}
                    {% include 'js/enhance/enhance-07-23-2015.min.js' %}
                    {% endspaceless %}
                </script>
            {% endblock enhance %}
        {% endif %}

            <noscript><link rel="stylesheet" href="{{ paths.theme }}css/app.{{ css_update }}.min.css"/></noscript>
            <noscript><link rel="stylesheet" href="{{ paths.theme }}css/icons/icons.fallback.css" ></noscript>

    {% endblock %}
  {# include javascripts / javascripts block #}
  {% block header_javascripts %}

        {# Modernizr:
            Current: 08-27-2014
            No Flexbox, No Flexbox Legacy, CSS Rem Unit, CSS Media Queryies
        #}
        {# dirty hack to include picturefill AFTER the noscript css#}
        <script src="{{ paths.theme }}js/lib/modernizr/modernizr.04242015.min.js" async ></script>
  {% endblock %}
  {% block picturefill %}
  {% endblock picturefill %}
</head>
<body>
{% block svgs %}
{% endblock svgs %}
<header class="fn-header" id="js-header" role="banner">
  <div class="header-wrap">
    <div class="fn-header__title-container">
      <h1 class="fn-header__name"><a href="/">Cory Dowdy</a></h1>
      <button id="fn-header__button" class="fn-header__button"
              aria-label="Menu"
              aria-expanded="false"
              aria-controls="js-nav">Menu &#x2261;
      </button>
    </div>
    <input type="checkbox" id="fn-noJs" class="fn-navTrigger__no-js"/>
    <label id="fn-noJs_label" for="fn-noJs"><span class="visuallyhidden">Menu Button</span></label>
    {# Insert Menu from menu directory #}
    {{ menu('main', 'menu/_menu.html.twig') }}
  </div>
</header>
<!-- /.fn-header -->

<main class="container fn-main" role="main">
    <!--[if lt IE 9]>
    <div class="ie_8_update_notice">
        <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Which is no longer supported.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and increase
            your security across the web.
        </p>
    </div>
    <![endif]-->
{# Main Body #}

{% block body %}

{% endblock body %}

{#  Footer block and closing main tag    #}

{% block footer %}
</main>

{% block footer_tag %}
{% endblock footer_tag%}


    {% block footer_javascripts %}
    <script src="{{ paths.theme }}js/navigation-9a37b5a40f.js" async defer></script>
    {% endblock %}

</body>
</html>
{% endblock %}
