{#
    08/16/2014
#}

{% extends 'base.html.twig' %}

{# try {{ app.request}}/{{ record.slug}} for critical css #}

  {% block metaSeo %}
      {{ parent() }}
      {# twitter cards test #}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="{{ record.title }}" />
      <meta name="twitter:description" content="{{ record.metadescription }}" />
      <meta name="twitter:image" content="{{ paths.canonical }}/files/{{ record.image }}"/>
  {% endblock metaSeo %}
{% block fout %}
  {% spaceless %}
    {{ parent() }}
    <style>
      {% include 'css/blog-list-fout.css.twig' %}
    </style>
  {% endspaceless %}
{% endblock fout %}

{% block inlined_styles %}
    <style>
      {% spaceless %}
  {% if record.slug == 'foundation-5-sass-and-grunt-uncss' %}
      {% include 'css/critical-css/foundation-5-sass-and-grunt-uncss.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
  {% if record.slug == 'improving-pagespeed-performance' %}
    {% include 'css/critical-css/improving-pagespeed-performance.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
  {% if record.slug == 'moving-from-apache-to-nginx' %}
    {% include 'css/critical-css/moving-from-apache-to-nginx.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
  {% if record.slug == 'flexbox-mobile-navigation' %}
  {% include 'css/critical-css/flexbox-mobile-navigation.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
  {% if record.slug == 'webp-jxr-nginx-content-negotiation-test' %}
      {% include 'css/critical-css/webp-jxr.' ~ ( critical_update ) ~ '.min.css' %}
   {% endif %}
  {% if record.slug == 'it-s-apple-s-web-we-re-just-playing-in-it' %}
      {% include 'css/critical-css/moving-from-apache-to-nginx.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
  {% if record.slug == 'service-workers-resources-tips-and-solutions' %}
      {% include 'css/critical-css/serviceworkers.' ~ ( critical_update ) ~ '.min.css' %}
  {% endif %}
      {#{% include 'css/fout.twig' %}#}
      {% endspaceless %}
    </style>
{% endblock %}

   {#{% block header_javascripts %}#}
     {#{{ parent() }}#}
     {##}
   {#{% endblock header_javascripts %}#}


{% block body %}
    <article class="push-down post" itemscope="" itemtype="http://schema.org/BlogPosting">
     <meta itemprop="image" content="{{ paths.canonical }}/files/{{ record.image }}" />
        <header class="blog-header">
            <h1 class="blog-list--title" itemprop="headline">{{ record.title }}</h1>
            <h2 class="heading-pub pub-date" itemprop="datePublished">
              {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                {{ __('%date%',{'%date%': recdate }) }}
            </h2>
          {% if record.datepublish|date("U") < "-6 months"|date("U") %}
            <div class="past-six-months">
              <p>
                This post is over six (6) months old. Some things on this page my be out of date or
                no longer applicable.
              </p>
            </div>
          {% endif %}
          <hr/>
        </header>
        <div itemprop="articleBody">
        {{ record.body }}
        </div>
    </article>
  {#{% if record.taxonomy is defined %}#}
    {#{% for type, values in record.taxonomy %}#}
        {#<em>{{ type }}:</em>#}
        {#{% for link, value in values %}#}
                {#<a href="{{ link }}">{{ value }}</a>{% if not loop.last %}, {% endif %}#}
        {#{% endfor %}#}
        {#{% if not loop.last %} - {% endif %}#}
    {#{% endfor %}#}
{#{% endif %}#}
{% endblock %}

{% block footer_tag %}
 <footer role="contentinfo" class="container">
   <div class="full">
   <hr />
    <p class="text-center">&copy; Cory Dowdy</p>
 </div>
 </footer>
{% endblock footer_tag%}

{% block footer_javascripts %}
    {{ parent() }}
  <script src="{{ paths.theme }}js/picturefill/picturefill.min.js" async ></script>
  <script src="{{ paths.theme }}js/lightbox.08172015.min.js" async defer></script>
{% if app.request.headers.has( DNT|lower )  == 0 %}
<script src="{{ paths.theme}}js/lib/visited-localstorage.min.js" async defer ></script>
{% else %}
    {# remove the visited local storage from LS ... keep this here for a bit until
      we can assume all local storage has been wiped. 6 months or so
    #}
<script>window.localStorage.clear();</script>
{% endif %}
  <script src="{{ paths.theme }}js/prism/prism-08-01-2016.js"></script>
{% endblock %}
