{#
    08/16/2014
#}

{% extends 'base.html.twig' %}

{% block inlined_styles %}
    <style>
        {% include 'css/critical-css/blog-pagespeed-critical.16-10-2014.css' %}
    </style>
{% endblock %}


{% block body %}
    <article class="push-down full" itemscope="" itemtype="http://schema.org/BlogPosting">
        <header class="centered-header">
            <h3 itemprop="headline">{{ record.title }}</h3>
            <h6 class="pub-date" itemprop="datePublished">{% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                {{ __('%date%',{'%date%': recdate }) }}</h6>
            <hr/>
        </header>
        <div itemprop="articleBody">
        {{ record.body }}
        </div>
    </article>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ paths.theme }}js/blog-entries.21-08-2014.js" async defer ></script>
    <script src="{{ paths.theme }}js/prism/prism-11-17-2014.js"></script>
{% endblock %}
