{#
    08/16/2014
#}

{% extends 'base.html.twig' %}



{% block inlined_styles %}
    <style>
        {% include 'css/critical-css/blog-critical.16-10-2014.css' %}
    </style>
{% endblock %}


{% block body %}
<div class="push-down">
    {% setcontent blogposts = "blog/latest/4" allowpaging %}
    {% for blogpost in blogposts %}
        <article class="container" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="full">
                <div class="listing-snippet">
                    <header>
                        <h3 class="blog-post-title" itemprop="headline url"><a href="{{ blogpost.link }}">{{ blogpost.title }}</a></h3>
                        {% set recdate = blogpost.datepublish|localdate("%A %B %e, %Y") %}
                        <p class="pub-date" itemprop="datePublished">{{ __('Posted on %date%',{ '%date%': recdate }) }}</p>
                    </header>
                    <p itemprop="description">
                        {{ blogpost.excerpt }}
                    </p>
                    <a itemprop="url" href="{{ blogpost.link }}">{{ __('Read Post &#10141;') }}</a>
                </div>
                <div class="listing-image">
                    <img itemprop="image" class="center" src="{{ thumbnail(blogpost.image, 200, 200, "r") }}" alt="{{ blogpost.title }}" pagespeed_no_defer="">
                </div><!-- /.listing-image -->
            </div><!-- /.full -->
        </article>
        <hr/>
    {% endfor %}
</div><!-- /.push-down -->
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ paths.theme}}js/lib/off-canvas.min.js" async defer ></script>
{% endblock footer_javascripts %}
