{#
    08/16/2014
#}

{% extends 'base.html.twig' %}

{# try {{ app.request}}/{{ record.slug}} for critical css #}


{% block inlined_styles %}
    <style>
      {% spaceless %}
  {% if record.slug == 'foundation-5-sass-and-grunt-uncss' %}
      {% include 'css/critical-css/foundation-5-sass-and-grunt-uncss.07212015.css' %}
  {% endif %}
  {% if record.slug == 'improving-pagespeed-performance' %}
    {% include 'css/critical-css/improving-pagespeed-performance.07212015.css' %}
  {% endif %}
  {% if record.slug == 'moving-from-apache-to-nginx' %}
    {% include 'css/critical-css/moving-from-apache-to-nginx.07212015.css' %}
  {% endif %}
  {% if record.slug == 'flexbox-mobile-navigation' %}
  {% include 'css/critical-css/flexbox-mobile-navigation.07212015.css' %}
  {% endif %}
      {% include 'css/fout.twig' %}
      {% endspaceless %}
    </style>
{% endblock %}

   {% block picturefill %}
     {{ parent() }}
     <script src="{{ paths.theme }}js/picturefill/picturefill.min.js" async ></script>
   {% endblock picturefill %}


{% block body %}
    <article class="push-down full" itemscope="" itemtype="http://schema.org/BlogPosting">
        <header class="centered-header">
            <h3 itemprop="headline">{{ record.title }}</h3>
            <h6 class="pub-date" itemprop="datePublished">
              {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                {{ __('%date%',{'%date%': recdate }) }}
            </h6>
          {% if record.datepublish|date("U") < "-6 months"|date("U") %}
            <div class="past-six-months">
              <p>
                This post is over six (6) months old. Some things on this page my be out of date or
                no longer applicable.
              </p>
            </div>
          {% endif %}

          <hr/>
        </header>
        <div itemprop="articleBody">
        {{ record.body }}
        </div>
    </article>
  {#{% if record.taxonomy is defined %}#}
    {#{% for type, values in record.taxonomy %}#}
        {#<em>{{ type }}:</em>#}
        {#{% for link, value in values %}#}
                {#<a href="{{ link }}">{{ value }}</a>{% if not loop.last %}, {% endif %}#}
        {#{% endfor %}#}
        {#{% if not loop.last %} - {% endif %}#}
    {#{% endfor %}#}
{#{% endif %}#}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ paths.theme }}js/blog-entries.042215.min.js" async defer ></script>
    <script src="{{ paths.theme}}js/lib/visited-localstorage.min.js" async defer ></script>
    <script src="{{ paths.theme }}js/prism/prism-11-17-2014.js"></script>
{% endblock %}
