{#
    08/16/2014
#}

{% extends 'base.html.twig' %}


{% block fout  %}
  {% spaceless %}
    {{ parent() }}
    <style>
      {% include 'css/blog-list-fout.css.twig' %}
    </style>
  {% endspaceless %}
{% endblock fout %}


{% block inlined_styles %}
    <style>{% include 'css/critical-css/blog.' ~ ( critical_update ) ~ '.min.css' %}</style>
{% endblock %}


{% block body %}
  <div class="push-down">
      <div class="container">
        <div class="blog-list">
          {% setcontent blogposts = "blog/latest/5" allowpaging %}
          {% for blogpost in blogposts %}
            <article role="article" class="blog-list--post" itemscope="" itemtype="http://schema.org/BlogPosting">
              <meta itemprop="image" content="{{ paths.canonical }}/files/{{ blogpost.image }}" />
              <header>
                <h1 class="blog-list--title" itemprop="headline url">
                  <a class="blog-link" href="{{ blogpost.link }}">{{ blogpost.title }}</a>
                </h1>
                {% set recdate = blogpost.datepublish|localdate("%A %B %e, %Y") %}
                <p class="pub-date" itemprop="datePublished">
                  {{ __('Posted on %date%',{ '%date%': recdate }) }}
                </p>
              </header>
              <p class="blog-teaser" itemprop="description">
                  {{ blogpost.teaser|striptags }}
              </p>
              <ul class="blog-list--info">
                <li>
                  <a itemprop="url" href="{{ blogpost.link }}">{{ __('Read Post &#10141;') }}</a>
                </li>
                <li class="blog-list--categories">
                  <strong>Category:</strong>
                  {% if blogpost.taxonomy.categories is defined %}
                    {% for value, category in blogpost.taxonomy.categories %}
                      <a aria-label="Blog Category {{ category }}" href="{{ value }}">{{ category }}</a>
                    {% endfor %}
                  {% endif %}
                </li>
              </ul>
          </article>
            <hr/>
          {% endfor %}
          {{ pager( '' , 3, '_sub_corydowdy_pager.twig') }}
        </div>
        <aside role="complementary" class="blog-list--sidebar">
          {% include 'form/_blog-search.html.twig' %}
          <ul class="blog--category-list">
            <li class="category-list-header">
              <h3>Categories</h3>
            </li>
            {% for category in app.config.get('taxonomy/categories/options') %}
              <li class="category-list-item">
                <a href="/categories/{{ category|slug }}">{{ category }}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div><!-- /.push-down -->
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
  {% set DNT = 'dnt' %}
  {#
  Do Not Track Header is uppercase in Firefox 45.0.1 and Edge and lowercase in Chrome 49.0.2623.108
  #}
  {% if app.request.headers.has( DNT|lower )  == 0 %}
    <script src="{{ paths.theme}}js/lib/visited-localstorage.min.js" async defer ></script>
    {% else %}
    {# remove the visited local storage from LS ... keep this here for a bit until
      we can assume all local storage has been wiped. 6 months or so
    #}
      <script>window.localStorage.clear();</script>
  {% endif %}

{% endblock footer_javascripts %}
