{#
    08/16/2014
#}

{% extends 'base.html.twig' %}

{# try {{ app.request}}/{{ record.slug}} for critical css #}


{% block inlined_styles %}
    <style>
  {% if record.slug == 'foundation-5-sass-and-grunt-uncss' %}
      {% include 'css/critical-css/foundation-5-sass-and-grunt-uncss.03-26-2015.min.css' %}
  {% endif %}
  {% if record.slug == 'improving-pagespeed-performance' %}
    {% include 'css/critical-css/improving-pagespeed-performance.03-26-2015.min.css' %}
  {% endif %}
  {% if record.slug == 'moving-from-apache-to-nginx' %}
    {% include 'css/critical-css/moving-from-apache-to-nginx.03-26-2015.min.css' %}
  {% endif %}
      {% include 'css/fout.twig' %}
    </style>
{% endblock %}


{% block body %}
    <article class="push-down full" itemscope="" itemtype="http://schema.org/BlogPosting">
        <header class="centered-header">
            <h3 itemprop="headline">{{ record.title }}</h3>
            <h6 class="pub-date" itemprop="datePublished">{% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                {{ __('%date%',{'%date%': recdate }) }}</h6>
            <hr/>
        </header>
        <div itemprop="articleBody">
        {{ record.body }}
        </div>
    </article>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ paths.theme }}js/blog-entries.21-08-2014.js" async defer ></script>
    <script src="{{ paths.theme }}js/prism/prism-11-17-2014.js"></script>
{% endblock %}
