{% extends 'base.html.twig' %}

{% block inlined_styles %}
  <style>
        {% include 'css/critical-css/categories.08182015.css' %}
    </style>
{% endblock %}



{% block body %}

  <!-- Main Blog Content -->
  <div class="push-down" role="content">

    <div class="container">
      <div class="full">
        {% if taxonomytype is defined %}
          <h2>
            {{ __('Category: ') }}
            {% if taxonomy.options[slug] is defined %}
              {{ taxonomy.options[slug] }}
            {% else %}
              {{ slug }}
            {% endif %}
          </h2>
        {% endif %}
      </div>
      <div class="blog-list">
        {% for record in records %}
          <article class="blog-list--post" itemscope="" itemtype="http://schema.org/BlogPosting">
          <meta itemprop="image" content="{{ paths.canonical }}/files/{{ record.image }}" />
            <header>
              <h1 class="blog-list--title" itemprop="headline url">
                <a href="{{ record.link }}">{{ record.title }}</a>
              </h1>
              {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
              <p class="pub-date" itemprop="datePublished">
                {{ __('Posted on %date%',{ '%date%': recdate }) }}
              </p>
            </header>
            <p class="blog-teaser" itemprop="description">
              {{ record.teaser|striptags }}
            </p>
            <ul class="blog-list--info">
              <li>
                <a class="blog-list--post-link"
                   itemprop="url"
                   href="{{ record.link }}">{{ __('Read Post &#10141;') }}
                </a>
              </li>
            </ul>
          </article>
          <hr/>
        {% endfor %}
      </div> <!-- /.blog-list -->
      <aside class="blog-list--sidebar" role="complementary">
        {% include 'form/_blog-search.html.twig' %}
        <ul class="blog--category-list">
          <li class="category-list-header">Categories</li>
          {% for category in app.config.get('taxonomy/categories/options') %}
          <li class="category-list-item">
            <a href="/categories/{{ category|slug }}">{{ category }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="blog--category-list">
          <li class="category-list-header">Latest Blog Posts</li>
          {% setcontent posts = "blog/latest/5"  %}
          {% for post in posts %}
          <li class="category-list-item">
            <a href="{{ post.link }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div> <!-- /.full -->
  </div><!-- /.container -->

{% endblock body %}
{% block footer_javascripts %}
  {{ parent() }}
  <script src="{{ paths.theme}}js/lib/visited-localstorage.min.js" async defer ></script>
{% endblock footer_javascripts %}
