{% extends 'base.html.twig' %}


{% block metaSeo %}
  {{ parent() }}
  <meta name="keywords" content="Intervention Image Bolt CMS, Bolt Responsive Images, Bolt Srcset, Bolt crop direction, Bolt Image Effects, Bolt Image Filters, Bolt Secure Thumbnails, Bolt Thumbnail Cache, Bolt Thumbnail Cache Primer" />
{% endblock metaSeo %}

{% block inlined_styles %}
  <style>{% include 'css/critical-css/demos-bolt-resp.' ~ ( critical_update ) ~ '.min.css' %}</style>
{% endblock %}

{% block body %}
  <div class="centered-header push-down">
    <h1>Bolt CMS BetterThumbs Extension</h1>
    <ul class="demo-nav">
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#how">Installation</a>
      </li>
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#config">Example Setup</a>
      </li>
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#quick">Quick Use</a>
      </li>
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#widths">Template Usage</a>
      </li>
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#advanced">Advanced Usage</a>
      </li>
      <li class="demo-nav--item">
        <a class="demo-nav--anchor" href="#info">Source</a>
      </li>
    </ul>
  </div>
  <!-- /.centered-header -->

  <div class="full">
    <p>
      This is a <a href="https://bolt.cm" class="external-link">Bolt</a> Content Management System extension that enables you to use a twig tag to produce responsive images using <strong>srcset</strong> and also use
      <a href="http://glide.thephpleague.com/" class="external-link">Glide</a> which is backed by the image manipulation library
      <a href="http://image.intervention.io/" class="external-link">Intervention</a>
    </p>
    <p>
      This extension creates responsive images by default, secures thumbnail URL's to prevent unwanted modifications, allows images to be deleted individually from the cache or all at once, and to generate images and place those into the cache before hand. You also have an option to use a PHP-Imagick (imagemagick) as the driver to produce your image thumbnails.
    </p>
  </div>
  <div id="install" class="full">
    <h2 class="heading">Installation</h2>
    <p>
      In the backend of your Bolt install navigate to the "Extras" menu in your dashboard and click "view/install extensions". In the "Install New Extension" search box type either "Responsive Images" or paste the following snippet.
    </p>
    <pre class="language-bash"><code>cdowdy/betterthumbs</code></pre>
    <p>
      Then click "Browse Versions and install the latest stable version.
    </p>
  </div>

  <div class="full" id="config">
    <h2 class="heading">Examples Setup</h2>
    <p>
      For the examples on this page I will be using a rule set I have created in the extensions config titled - betterthumb_demo.
    </p>
    <p>
      Each image set will need a config defined in the extensions config file. One is already there called 'betterthumbs'. This has all the needed areas for a responsive image set and uses the extensions preset defaults.
    </p>
    <p>
      For a custom set of rules start off by giving the rule set a name inside the config. This pages rule set as mentioned above is 'betterthumb_demo'. Here is this demo page rule set as defined in the extensions config.
    </p>
    <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
    medium:
      w: 520
    large:
      w: 900
</code></pre>
    <p>
      If your named config is short like the one above you can use hashes instead like as follows:
    </p>
    <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small: { 'w': 320 }
    medium: { 'w': 520 }
    large: { 'w': 900 }</code></pre>

    <p>
      For this particular page I know that on screens wider than 50em (800px) the image will be approximately 30% of the viewport ( taking into consideration the column padding/gutters ). To help you get you head around this you can read
      <a href="https://jakearchibald.com/2015/anatomy-of-responsive-images/" class="external-link">Jake Archibald's Anatomy of Responsive Images</a>.
    </p>
  </div>

  <div id="quick" class="full">
    <h2 class="heading">Quick Usage</h2>
    <p>
      You can quickly use BetterThumbs in your templates by using the extensions defaults, which also happen to be the presets. You can change these presets to your own if you so wish.
    </p>
  </div> <!-- /.full -->
  <div class="full-to-half">
    <pre class="language-twig"><code>&lbrace;&lbrace; img( record.image, 'betterthumbs' ) }}</code></pre>
    <p>
      This will produce four (4) images with the settings found in 'presets'
    </p>

  </div>
  <div class="full-to-half">
    <figure>
      {{ img( record.image, 'betterthumbs' ) }}
      <figcaption>
        <p class="center-text">
          Red Panda By <a href="https://www.flickr.com/photos/ekilby/5947523948/in/album-72157627216762774/" class="external-link">Eric Kilby</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="full" id="widths">
    <h2 class="heading">Using Widths</h2>
    <p>
      By default this extension uses the width descriptor for the images. In the 'betterthumb_demo' config shown above that means the widths used are the numbers after each modifications section  'w:' section.
    </p>
    <p>
      Usage examples for using the "w" descriptor.
    </p>
    <p>
      To use the W descriptor either use the default settings "widthDensity" setting of "w" or create your own set of rules with the widthDensity setting set to w in that rule set.
    </p>
    <p>
    We'll use the config defined above in the "Config" section.
    </p>
  </div>
  <div class="full">
    <h3 class="heading">
      Template Usage
    </h3>
  </div>

  <div class="full-to-half center-text">
    <p>Using with a record image </p>
    {{ img( record.image, 'betterthumb_demo') }}
    <pre class="language-twig"><code>&lbrace;&lbrace; img( record.image, 'betterthumb_demo' }}</code></pre>
  </div>

  <div class="full-to-half center-text">
    <p>Using with a File From Files</p>
    {#<figure>#}
      {{ img( 'demos/betterthumbs/redpanda-eric_kilby.jpg', 'betterthumb_demo') }}
      {#<figcaption>#}
        {#<p>Moon Bear Portrait By <a href="https://www.flickr.com/photos/ekilby/11061206645/in/album-72157627216762774/" class="external-link">Eric Kilby</a>#}
        {#</p>#}
      {#</figcaption>#}
    {#</figure>#}
    <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/redpanda-eric_kilby.jpg', 'betterthumb_demo' }}</code></pre>
  </div>



  <div id="density" class="full">
    <h2 class="heading">Using Densities</h2>
    <p>
      To use screen densities with the extension use an 'x' in the 'widthDensity' config setting. The 'sizes' config option isn't needed if using the 'x' descriptor but the 'resolutions' option is. The 'x' descriptor is also good to use with fixed width images. More on why fixed width images can be found here at
      <a href="http://blog.cloudfour.com/responsive-images-101-part-3-srcset-display-density/"
         class="external-link">Cloudfour Blog: Responsive Images 101 Display Density</a>.
    </p>
    <p>
      Config:
    </p>
    <pre class="language-yaml"><code>betterthumb_density:
  widthDensity: 'x'
  resolutions: [ 1, 2, 3 ]
  modifications:
    small:
      w: 320
    medium:
      w: 640
    large:
      w: 900</code></pre>
  </div>

  <div class="full-to-half center-text">
    <p>Using with a record image </p>
    {{ img( record.image, 'betterthumb_density') }}
    <pre class="language-twig"><code>&lbrace;&lbrace; img( record.image, 'betterthumb_density' }}</code></pre>
  </div>

  <div class="full-to-half center-text">
    <p>Using with a File From Files</p>
    {{ img( 'demos/betterthumbs/redpanda-eric_kilby.jpg', 'betterthumb_density') }}
    <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/redpanda-eric_kilby.jpg', 'betterthumb_density' }}</code></pre>
  </div>

  <div class="full" id="effects">
    <h2 class="heading">Using Image Effects &amp; Filters</h2>
    <p>
      Usage examples of the sepia and greyscale filters along with the pixelate and blue effects.
    </p>

    <h3 class="heading">Sepia Filter</h3>
    <div class="full-to-half center-text">
      <p>Sepia Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/moon-bear-portrait.jpg', 'betterthumb_sepia') }}
        <figcaption>
          <p>Moon Bear Portrait By <a href="https://www.flickr.com/photos/ekilby/11061206645/in/album-72157627216762774/"
                                      class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_sepia:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      filt: 'sepia'
    medium:
      w: 520
      filt: 'sepia'
    large:
      w: 900
      filt: 'sepia'</code></pre>
    </div>

    <h3 class="heading">Greyscale Filter</h3>
    <div class="full-to-half center-text">
      <p>Greyscale Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/moon-bear-portrait.jpg', 'betterthumb_sepia', {
          'modifications': {
            'small': { 'w': 320, 'filt': 'greyscale' },
            'medium' : { 'w': 520, 'filt': 'greyscale' },
            'large' : { 'w': 900, 'filt': 'greyscale' }
          }
        }) }}
        <figcaption>
          <p>Moon Bear Portrait By <a href="https://www.flickr.com/photos/ekilby/11061206645/in/album-72157627216762774/"
                                      class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_grey:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      filt: 'greyscale'
    medium:
      w: 520
      filt: 'greyscale'
    large:
      w: 900
      filt: 'greyscale'</code></pre>
    </div>

    <h3 class="heading">Pixelate Filter</h3>
    <div class="full-to-half center-text">
      <p>Pixelate Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/moon-bear-portrait.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'pixel': 8  },
            'medium' : { 'w': 520, 'pixel': 8  },
            'large' : { 'w': 900, 'pixel': 8  }
          }
        }) }}
        <figcaption>
          <p>Moon Bear Portrait By <a href="https://www.flickr.com/photos/ekilby/11061206645/in/album-72157627216762774/"
                                      class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_pixelate:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      pixel: 8
    medium:
      w: 520
      pixel: 8
    large:
      w: 900
      pixel: 8</code></pre>
    </div>


    <h3 class="heading">Blur Filter</h3>
    <div class="full-to-half center-text">
      <p>Blur Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/moon-bear-portrait.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'blur': 5 },
            'medium' : { 'w': 520, 'blur': 5 },
            'large' : { 'w': 900, 'blur': 5 }
          }
        }) }}
        <figcaption>
          <p>Moon Bear Portrait By <a href="https://www.flickr.com/photos/ekilby/11061206645/in/album-72157627216762774/"
                                      class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_blur:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      blur: 5
    medium:
      w: 520
      blur: 5
    large:
      w: 900
      blur: 5</code></pre>
    </div>

  </div>

  <div class="full" id="adjustments">
    <h2 class="heading">Adjusting Images</h2>
    <!-- /.heading -->
    <p>
      Usage examples of the image adjustments of, gamma correction, and adjusting the sharpness, contrast and brightness of images.
    </p>

    <h3 class="heading">Brightness Adjustments</h3>
    <div class="full-to-half center-text">
      <p>Brightness Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/milky-way.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'bri': 25 },
            'medium' : { 'w': 520, 'bri': 25 },
            'large' : { 'w': 900, 'bri': 25 }
          }
        }) }}
        <figcaption>
          <p>Milky Way Above Bend in Forested Shoreline By <a href="https://www.flickr.com/photos/ekilby/27869530792/"
                                      class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      bri: 25
    medium:
      w: 520
      bri: 25
    large:
      w: 900
      bri: 25</code></pre>
    </div>

    <h3 class="heading">Sharpness Adjustments</h3>
    <div class="full-to-half center-text">
      <p>Sharpness Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/koala.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'sharp': 15 },
            'medium' : { 'w': 520, 'sharp': 15 },
            'large' : { 'w': 900, 'sharp': 15 }
          }
        }) }}
        <figcaption>
          <p>Koala Seated By <a href="https://www.flickr.com/photos/ekilby/32336868995/" class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      sharp: 15
    medium:
      w: 520
      sharp: 15
    large:
      w: 900
      sharp: 15</code></pre>
    </div>

    <h3 class="heading">Contrast Adjustments</h3>
    <div class="full-to-half center-text">
      <p>Contrast Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/koala.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'con': 25 },
            'medium' : { 'w': 520, 'con': 25 },
            'large' : { 'w': 900, 'con': 25 }
          }
        }) }}
        <figcaption>
          <p>Koala Seated By <a href="https://www.flickr.com/photos/ekilby/32336868995/" class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      con: 25
    medium:
      w: 520
      con: 25
    large:
      w: 900
      con: 25</code></pre>
    </div>

    <h3 class="heading">Gamma Adjustments</h3>
    <div class="full-to-half center-text">
      <p>Gamma Config setup up and examples</p>
      <figure>
        {{ img( 'demos/betterthumbs/milky-way.jpg', 'betterthumb_filters', {
          'modifications': {
            'small': { 'w': 320, 'gam': 1.5 },
            'medium' : { 'w': 520, 'gam': 1.5 },
            'large' : { 'w': 900, 'gam': 1.5 }
          }
        }) }}
        <figcaption>
          <p>Milky Way Above Bend in Forested Shoreline By <a href="https://www.flickr.com/photos/ekilby/27869530792/"
                                                                 class="external-link">Eric Kilby</a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="full-to-half-center-text">
      <p>Config:</p>
      <pre class="language-yaml"><code>betterthumb_demo:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
      gam: 1.5
    medium:
      w: 520
      gam: 1.5
    large:
      w: 900
      gam: 1.5</code></pre>
    </div>

  </div>
  <!-- /#adjustments.full -->

  <div class="full" id="advanced">
    <h2 class="heading">Advanced Usage</h2>
    <p>
      You can over ride just about any default setting or user supplied setting in the extensions config inside a template. You must supply the image you wish to use, followed by a rule set (or use defaults) then followed by which custom settings you wish to use.
    </p>
    <p>
      In the image effects and filters examples above the code blocks follow a pattern of <code class="languge-yaml"> &lt;name&gt;_&lt;filter/effect name&gt; </code>. This isn't practical for configs using a lot of the same settings. So behind the scenes I cheated a bet. I created a config section that only contained the widths of the images. Then in the template I added in what I need for that filter or effect.
    </p>
    <p>
      Here is that config block:
    </p>
    <pre class="language-yaml"><code>betterthumb_filters:
  sizes: [ '(min-width: 800px) 30vw', ' 90vw' ]
  modifications:
    small:
      w: 320
    medium:
      w: 520
    large:
      w: 900</code></pre>
    <p>
      Then we override / add in things we want for that particular image. The examples below show you how this is accomplished in a template. The markup is kinda verbose so you may want to use this sparingly.
    </p>
  </div>

  <div class="full">
    <h3 class="heading">Template Usage</h3>
    <p>Template Override Examples</p>
  </div>
  <div class="full-to-half center-text">
    <p>Override Default Width Settings</p>
    {{ img( 'demos/betterthumbs/milky-way.jpg', 'betterthumb_filters', {
      'modifications': {
        'small': { 'w': 400 },
        'medium' : { 'w': 640 },
        'large' : { 'w': 1000 }
      }
    }) }}
    <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/milky-way.jpg', 'betterthumb_filters', &lbrace;
  'modifications': &lbrace;
    'small': &lbrace; 'w': 400 &rbrace;,
    'medium': &lbrace; 'w': 640 &rbrace;,
    'large': &lbrace; 'w': 1000 &rbrace;
  &rbrace;
&rbrace;) &rbrace;&rbrace;</code></pre>
  </div>

  <div class="full-to-half center-text">
    <p>Override The Default widthDensity Descriptor. Add in Density </p>
    <figure>
      {{ img( 'demos/betterthumbs/emmi-pemmi.jpg', 'betterthumb_filters', {
        'widthDensity': 'x',
        'resolutions': [ 1, 2, 3 ],
      }) }}
      <figcaption>
        <p>
          "Emmi-Pemmi" by <a href="https://www.flickr.com/photos/smerikal/7278204088/" class="external-link">smerikal</a>
        </p>
      </figcaption>
    </figure>
    <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/emmi-pemmi.jpg', 'betterthumb_filters', &lbrace;
          'widthDensity': 'x',
          'resolutions': [ 1, 2, 3 ],
        &rbrace;) &rbrace;&rbrace;</code></pre>
  </div>
  <div class="full">
    <hr>
    <p>Using a generic config and adding in a filter</p>
  </div>

  <div class="full-to-half center-text">
    {{ img( 'demos/betterthumbs/emmi-pemmi.jpg', 'betterthumb_filters', {
      'modifications': {
        'small': { 'filt': 'sepia' },
        'medium' : { 'filt': 'sepia' },
        'large' : { 'filt': 'sepia' }
      }
    }) }}
  </div>

  <div class="full-to-half center-text">
     <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/emmi-pemmi.jpg', 'betterthumb_filters', &lbrace;
  'modifications': &lbrace;
    'small': &lbrace; 'filt': 'sepia' &rbrace;,
    'medium' : &lbrace; 'filt': 'sepia' &rbrace;,
    'large' : &lbrace; 'filt': 'sepia' &rbrace;
  &rbrace;
&rbrace;) &rbrace;&rbrace;</code></pre>
  </div>
  <div class="full">
    <hr>
    <h2 class="heading">Using presets</h2>
  </div>

  <div class="full-to-half center-text">
    <figure>
      {{ img( 'demos/betterthumbs/McKinleyMemorial.jpg', 'presets') }}
      <figcaption>
        <p>
          McKinely Memorial, Canton, Ohio by <a
            href="https://www.flickr.com/photos/ekilby/7040673501/in/album-72157629728195325/"
            class="external-link">Eric Kilby</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="full-to-half center-text">
     <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/McKinleyMemorial.jpg', 'presets') &rbrace;&rbrace;</code></pre>
  </div>

  <div class="full">
    <h3 class="heading">Overriding Presets</h3>
    <p>
      Since presets are settings used for each and every image that gets modified they are a little harder to override. If you wish to override this you should create a named config block. That way if you want to add in a class, data-attribute, use an ID or use density descriptors it's easier to do so. There is already a named config block set up for this purpose titled "betterthumbs". This uses yaml's repeated nodes so you don't have to repeat the preset settings. Here is how you would override these presets in a named config.
    </p>
  </div>
  <div class="full-to-half center-text">
    <p>The Preset Config block:</p>
     <pre class="language-yaml"><code>presets: &presets
  small:
    w: 175
    fit: stretch
  medium:
    w: 350
    fit: stretch
  large:
    w: 700
    fit: stretch
  xlarge:
    w: 1400
    fit: stretch</code></pre>
  </div>

  <div class="full-to-half center-text">
    <p>The named config inheriting the Preset config</p>
    <pre class="language-yaml"><code>betterthumbs:
  save_data: true
  altText: ~
  widthDensity: 'w'
  sizes: [ '100vw' ]
  modifications:
    &lt;&lt;: *presets</code></pre>
  </div>
  <div class="full">
    <h4 class="heading">Usage</h4>
    <p>
      Here we can override or add to our presets anything available in the Glide API. So for example purposes we will add a new fit to the "large" modifications array along with a new width. We will also add a class for this specific image, a data-attribute and just to round things out an ID. Everything else will be exactly the same as the preset config block. Open up your dev tools and inspect the image too see the rendered options applied to the image tag.
    </p>
  </div>

  <div class="full-to-half center-text">
    <figure>
      {{ img( 'demos/betterthumbs/white_rhino.jpg', 'betterthumbs', {
        'class': [ 'Template_Class' ],
        'id' : 'MyCoolId',
        'data_attrib': { 'rhino-type' : 'white' },
        'modifications': {
          'large': { 'w': 800, 'fit': 'max'}
        }
      }) }}
      <figcaption>
        <p>
          White rhino by <a
            href="https://www.flickr.com/photos/usfwshq/6880954953/in/album-72157629329853387/"
            class="external-link">US Fish &amp; Wildlife Services</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="full-to-half center-text">
    <p>The twig over rides</p>
    <pre class="language-twig"><code>&lbrace;&lbrace; img( 'demos/betterthumbs/white_rhino.jpg', 'betterthumbs', &lbrace;
  'class': [ 'Template_Class' ],
  'id' : 'MyCoolId',
  'data_attrib': { 'rhino-type' : 'white' },
  'modifications': &lbrace;
    'large' : &lbrace; 'w': 800, 'fit': 'max' &rbrace;
  &rbrace;
&rbrace;) &rbrace;&rbrace;</code></pre>
  </div>
  <div class="full">
    <p>
      Can we take a moment and think about this animal? This thing actually exists! Well... struggling to exist but it does. It's pretty remarkable. According to the
      <a href="http://wwf.panda.org/what_we_do/endangered_species/rhinoceros/african_rhinos/white_rhinoceros/"
         class="external-link">World Wildlife Foundation</a> there are only 3 of these left in existence and all are in captivity. Which in itself is extremely sad. People are wiping this thing out for its horn which would be the same thing as eating your own fingernails and or hair for keratin.
    </p>
  </div>


  <div id="info" class="full">
    <h3 class="heading">
      Source
    </h3>
    <p>The source for Bolt BetterThumbs can be found at my github page</p>
    <ul class="no-bullet">
      <li>
        <a href="https://github.com/cdowdy/boltbetterthumbs" class="external-link">Github Source: Bolt BetterThumbs <span class="link-icon icon-github-link"></span></a>
      </li>
    </ul>
    <p>Bolt BetterThumbs Store Page</p>
    <ul class="no-bullet">
      <li>
        <a href="https://market.bolt.cm/view/cdowdy/betterthumbs" class="external-link">Bolt Store: Bolt BetterThumbs  <span class="link-icon icon-github-link"></span></a>
      </li>
    </ul>
  </div>

{% endblock body %}


{% block footer_tag %}
  <footer role="contentinfo" class="container">
    <div class="full">
      <hr />
      <p class="text-center">&copy; Cory Dowdy</p>
    </div>
  </footer>
{% endblock footer_tag%}

{% block footer_javascripts %}
  {#<script src="{{ paths.theme }}js/demos-mag.08172015.js" async defer></script>#}
  {{ parent() }}
  <script src="{{ paths.theme }}js/prism/prism-08-01-2016.js"></script>
{% endblock footer_javascripts %}
