{#
    08/16/2014
#}

{% extends 'base.html.twig' %}


{% block dns_prefetch %}
    {{ parent() }}
    <link rel="dns-prefetch" href="https://img.youtube.com"/>
    <link rel="dns-prefetch" href="https://vimeo.com/" />
    <link rel="dns-prefetch" href="https://i.vimeocdn.com" />
{% endblock dns_prefetch %}


{% block header_javascripts %}
    {{ parent() }}
    <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
        function loadCSS(e,n,o,t){"use strict";var d=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],s=window.document.styleSheets;return d.rel="stylesheet",d.href=e,d.media="only x",t&&(d.onload=t),i.parentNode.insertBefore(d,i),d.onloadcssdefined=function(n){for(var o,t=0;t<s.length;t++)s[t].href&&s[t].href.indexOf(e)>-1&&(o=!0);o?n():setTimeout(function(){d.onloadcssdefined(n)})},d.onloadcssdefined(function(){d.media=o||"all"}),d}
      loadCSS('{{ paths.theme }}css/magnific.04222015.min.css')
    </script>
{% endblock %}

{% block inlined_styles %}
    <style>{% include 'css/critical-css/concrete5-magnific-popup.08182015.css' %}</style>
{% endblock %}



{% block body %}
    <div class="centered-header push-down">
        <h1>Concrete5 Magnific Popup Add-on</h1>
        <ul class="demo-nav">
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#single">Single</a>
            </li>
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#gallery">Gallery</a>
            </li>
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#vidmap">Video & Map</a>
            </li>
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#dialog">Dialog</a>
            </li>
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#modal">Modal</a>
            </li>
            <li class="demo-nav--item">
                <a class="demo-nav--anchor" href="#info">Get It</a>
            </li>
        </ul>
    </div>
    <!-- /.centered-header -->
    <div id="single" class="full">

        <h5>Single Image Popup</h5>
        <hr/>
    </div> <!-- /.full -->
    <div class="video-container">
      <video controls
             poster="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/dialog_poster.png">
        <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_single.mp4"
              type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
        <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_single.webm"
              type='video/webm;codecs="vp8, vorbis"' />
      </video>
      <hr />
    </div><!-- /. video-container -->
    <div class="full">
        <ul class="popup-block--three">
      <li>
        <a class="image-popup-vertical-fit" href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/verticalfit_large.png" title="Caption">
          <img class="center" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/verticalfit_th.png" alt="placeholder" width="200" height="200" />
        </a>
        <p class="popup-caption">Vertical Fit Popup</p>
      </li>
      <li>
        <a class="image-popup-fit-width" href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/fitwidth_large.png" title="Caption.">
          <img class="center" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/verticalfit_th.png" alt="placeholder" width="200" height="200" />
        </a>
        <p class="popup-caption">Fit Width Popup</p>
      </li>
      <li>
        <a class="image-popup-no-margins" href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/nomargins_large.png" title="Caption">
          <img class="center" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/verticalfit_th.png" alt="placeholder" width="200" height="200" />
        </a>
        <p class="popup-caption">No Margins Popup</p>
      </li>
    </ul>
    <!-- /.popup-block--three -->
    </div>
    <!-- /.full -->
    <hr />
    <div id="gallery" class="full">
        <h5>Gallery Popup</h5>
        <hr/>
    </div> <!-- /.full -->
    <div class="video-container">
        <video controls>
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_gallery.mp4"
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_gallery.webm"
                  type='video/webm;codecs="vp8, vorbis"' />
        </video>
        <hr />
    </div>
    <!-- /.video-container -->
    <div class="full">
        <ul id="popup-gallery" class="popup-block--two">
            <li>
                <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_1.png" title="Placeholder">
                    <img class="center lazyload" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_1-th.png" alt="gallery1"
                         width="150" height="150">
                </a>
            </li>
            <li>
                <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_2.png" title="Placeholder">
                    <img class="center lazyload" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_2-th.png" alt="gallery2"
                         width="150" height="150">
                </a>
            </li>
            <li>
                <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_3.png" title="Placeholder">
                    <img class="center lazyload" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_3-th.png" alt="gallery3"
                         width="150" height="150">
                </a>
            </li>
            <li>
                <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_4.png" title="Placeholder">
                    <img class="center lazyload" src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/gallery_4-th.png" alt="gallery4"
                         width="150" height="150">
                </a>
            </li>
        </ul>
        <!-- /.popup-block--two -->
    </div>
    <!-- /.full -->
    <hr />
    <div id="vidmap" class="full">
        <h5>Video &amp; Map Popups</h5>
        <p class="mobile-help">Mobile Device will open appropriate app if available</p>
        <hr/>
    </div>
    <!-- /.full -->
    <div class="video-container">
        <video controls>
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_youtube.mp4"
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/new_youtube.webm"
                  type='video/webm;codecs="vp8, vorbis"' />
        </video>
        <hr />
    </div>
    <!-- /.video-container -->
    <div class="full-to-half center-text center-link">
        <p>No Thumbnail YouTube Video</p>
        <a class="popup-youtube center-link demo-popup-button" href="https://www.youtube.com/watch?v=a_426RiwST8">Open YouTube video</a>
        <hr class="show-for-small" />
    </div>
    <!-- /.full-to-half -->
    <div class="full-to-half center-text center-link">
        <p>No Thumbnail Vimeo Video</p>
        <a class="popup-vimeo center-link demo-popup-button" href="https://vimeo.com/13962827">Open Vimeo video</a>
    </div>
    <!-- /.full-to-half -->
    <div class="full-to-half center-text">
        <hr />
        <p>YouTube Thumbnail</p>
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=a_426RiwST8">
            <img class=" center" src="https://img.youtube.com/vi/a_426RiwST8/mqdefault.jpg" width="320" height="180" />
        </a>
    </div>
    <!-- /.full-to-half -->
    <div class="full-to-half center-text">
        <hr />
        <p>Vimeo Thumbnail</p>
        <a class="popup-vimeo" href="https://vimeo.com/13962827">
            <img class="center Large" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                 data-vimeo-id="13962827"
                 width="250"
                 height="150" />
        </a>
    </div>
    <div class="container">
        <div class="full">
            <hr/>
        </div>
    </div>
    <!-- /.full-to-half center-text -->
    <div class="full-to-half--small-center-only center-text">
        <p>Google Maps Popup</p>
        <a  class="popup-gmaps demo-popup-button"
            href="https://maps.google.com/maps?sll=40.0036804,-83.0193818&amp;sspn=0.0063117,0.0109864&amp;q=411+Woody+Hayes+Dr,+The+Ohio+State+University,+Columbus,+OH+43210&amp;ie=UTF8&amp;hq=&amp;hnear=411+Woody+Hayes+Dr,+Columbus,+Ohio+43210&amp;t=h&amp;z=14">411 Wood Hayes Dr, Columbus, Ohio</a>
    </div>
    <!-- /.full-to-half centered-text small-center-only -->
    <div class="full">
        <hr/>
    </div>
    <div id="dialog" class="full">
        <h5>Dialog With CSS Animation</h5>
        <hr/>
    </div>
    <!-- /.full -->
    <div class="video-container">
        <video controls>
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/dialog.mp4"
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
          <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/dialog.webm"
                  type='video/webm;codecs="vp8, vorbis"' />
        </video>
        <hr />
    </div>
    <div class="full">
        <ul id="dialogPopup" class="popup-block--css-dialog center-text">
            <li>
                <h6>Zoom In</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-zoom-in">Zoom In Open</a>
            </li>
            <li>
                <h6>Newspaper</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-newspaper">Newspaper Open</a>
            </li>
            <li>
                <h6>Move-horizontal</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-move-horizontal">Horizontal Open</a>
            </li>
            <li>
                <h6>From Top</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-move-from-top">From Top Open</a>
            </li>
            <li>
                <h6>3d Unfold</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-3d-unfold">3d Unfold Open</a>
            </li>
            <li>
                <h6>Zoom Out</h6>
                <a class="demo-popup-button" href="#dialog-window" data-effect="mfp-zoom-out">Zoom Out Open</a>
            </li>
        </ul>
    </div>
    <!-- /.full -->
    <div class="full">
        <hr/>
    </div>
    <div id="modal" class="full">
        <h5>Modal</h5>
        <hr/>
    </div>
    <div class="container">
        <div class="video-container">
            <video controls>
              <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/dialog.mp4"
                      type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
              <source src="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/dialog.webm"
                      type='video/webm;codecs="vp8, vorbis"' />
            </video>
            <hr />
        </div>
    </div>
    <div class="full">
        <a id="mag-modal" class="demo-popup-button" href="#magnific_modal">Click To Open Modal</a>
        <div id="magnific_modal" class="mfp-hide white-popup-block">
            <h1>This.....</h1>
            <p>is the modal text...... just placeholder content</p>
            <p>Can only close modal by clicking dismiss button</p>
            <p><a class="popup-modal-dismiss demo-popup-button--alert" href="#">Dismiss</a></p>
        </div>
    </div>


    <hr />

    <div id="info" class="full panel">
        <p>The standalone Magnific Popup JavaScript Plugin can be found at Dmitry Semenov's site: <a href="//dimsemenov.com/plugins/magnific-popup/">Magnific Popup</a></p>
        <p>The article on Magnific Popup by Dmitry Semenov can be found at Smashing Magazine: <a href="//coding.smashingmagazine.com/2013/05/02/truly-responsive-lightbox/">Smashsing Magazine</a></p>
        <p>The entire source for this Concrete5 add-on can be found at my github account: <a href="//github.com/cdowdy/concrete5-Magnific-Popup">Add-on Source</a></p>

    </div>
    <div id="dialog-window" class="white-popup mfp-with-anim mfp-hide">
        <h1>This is a Dialog Window</h1>
        <p>this is also dummy text. Click Anywhere to dismiss</p>
    </div>





{% endblock %}

{% block footer_javascripts %}
<script src="{{ paths.theme }}js/demos-mag.08172015.js" async defer></script>
{{ parent() }}
{% endblock footer_javascripts %}
