{% include 'headers/_404-header.twig' %}

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="small-12 large-10 large-centered columns" role="content">

        {# This template is used for 'listings': Generic pages that list a number of
           records from a certain contenttype. These records are available as an array
           called 'records'. In the for-loop below, we iterate over the records that
           are on this page. It can be used for overview pages like 'all entries', or
           'all records tagged with kittens' as well as search result. #}

        {# if used for listing a taxonomy: #}
        {% if taxonomytype is defined %}
            <h1>
                {{ __('Overview for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
        {% endif %}

        {# This is also the default template for searchresults. If 'search' is defined,
           we display an appropriate title. The 'records' array contains all of the
           records matching the current query. If there are no results, the
           code in the 'else' part of the for-loop is used. #}
        {% if search is defined %}
            <h1>
                {{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}
            </h1>
        {% endif %}


        {% for record in records %}
            <article>

                <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                <p>{{ record.excerpt }}</p>



            </article>

            <hr>

        {% else %}
            <article>

                {% if search is defined %}

                    <p>
                        {{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}
                    </p>
                    {% include '_search.twig' %}

                {% else %}

                    <h2>No content found.</h2>

                    <p>
                        Unfortunately, no content could be found. Try another page, or go to the
                        <a href="{{ paths.root }}">homepage</a>.
                    </p>

                {% endif %}

                {#
                optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
                {{ redirect('/') }}
                #}

            </article>
        {% endfor %}

    </div>

</div>

<!-- End Main Content and Sidebar -->



{% include 'footers/_404-footer.twig' %}
