{% extends 'base.html.twig' %}



{% block inlined_styles %}
    <style>
        html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}header,main,nav{display:block}a{background:0 0}svg:not(:root){overflow:hidden}button,input{color:inherit;font:inherit;margin:0}button{overflow:visible;text-transform:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}body,html{font-size:100%}body{background:#fff;color:#444;font-family:ff-dagny-web-pro,sans-serif;font-weight:400;font-style:normal;line-height:1;position:relative;cursor:default;-webkit-box-sizing:border-box;box-sizing:border-box;min-height:100%}button{border-style:solid;border-width:0;cursor:pointer;font-family:ff-dagny-web-pro,sans-serif;font-weight:400;line-height:normal;margin:0 0 1.25rem;position:relative;text-decoration:none;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;display:inline-block;padding:1rem 2rem 1.0625rem;font-size:1rem;background-color:#008cba;border-color:#007295;color:#fff;-webkit-transition:background-color 300ms ease-out;transition:background-color 300ms ease-out}button.tiny{padding:.625rem 1.25rem .6875rem;font-size:.6875rem}button.radius{border-radius:3px}button::-moz-focus-inner{border:0;padding:0}@media only screen and (min-width:40em){button{display:inline-block}}label{font-size:.875rem;color:#4d4d4d;cursor:pointer;display:block;font-weight:400;line-height:1.5;margin-bottom:0}input[type="search"]{-webkit-appearance:none;-webkit-border-radius:0;background-color:#fff;font-family:inherit;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);color:rgba(0,0,0,.75);display:block;font-size:.875rem;margin:0 0 1rem;padding:.5rem;height:2.3125rem;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:-webkit-box-shadow .45s,border-color .45s ease-in-out;transition:box-shadow .45s,border-color .45s ease-in-out}fieldset{border:1px solid #ddd;padding:1.25rem;margin:0 0 1.125rem}div,form,h1,h4,h5,li,ul{margin:0;padding:0}a{color:#008cba;text-decoration:none;line-height:inherit}h1,h4,h5{font-family:ff-dagny-web-pro,sans-serif;font-weight:400;font-style:normal;color:#2c3e50;text-rendering:optimizeLegibility;margin-top:.2rem;margin-bottom:.5rem;line-height:1.4}h1{font-size:2.125rem}h4,h5{font-size:1.125rem}ul{font-size:1rem;line-height:1.6;margin-bottom:1.25rem;list-style-position:outside;font-family:inherit}ul{margin-left:1.1rem}@media only screen and (min-width:40em){h1,h4,h5{line-height:1.4}h1{font-size:2.75rem}h4{font-size:1.4375rem}h5{font-size:1.125rem}}@media print{@page{margin:.5cm}*{background:0 0!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}a[href^="#"]:after{content:""}}body,html{width:100%;height:100%;margin:0;padding:0}.menu-icon{fill:#f2f2f2;display:inline}.center-text{text-align:center}.promote-layer{-moz-backface-visibility:hidden}.push-down{margin-top:70px}.container{width:100%;margin:0 auto;max-width:62.5rem}.container:after,.container:before{content:" ";display:table}.container:after{clear:both}.full{padding-left:.9375rem;padding-right:.9375rem;width:100%;float:left}svg{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:100%;display:block}.form-container{padding-left:.9375rem;padding-right:.9375rem;width:100%;float:left}@media only screen and (min-width:50em){.form-container{padding-left:.9375rem;padding-right:.9375rem;width:66.66667%;margin-left:auto;margin-right:auto;float:none}}.menu-icon{height:45px;width:45px}.name{height:60px;margin:0;font-size:16px}.name h1{line-height:60px;font-size:1.0625rem;margin:0}.name h1 a{font-weight:400;color:#f2f2f2;width:100%;display:block;padding:0 20px}.app-bar{display:block;width:100%;position:fixed;top:0;left:0;background-color:#2c3e50;overflow:hidden;z-index:1}.app-bar-container{display:-webkit-flex;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:3.75rem;position:relative;-webkit-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin:0 auto}.app-bar .logo{-webkit-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;margin:0 16px;padding:0;color:#fefefe;font-weight:400;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}.app-bar button{width:60px;height:60px;background-image:none;background-color:transparent;border:none;padding:0;-webkit-transition:background-color .2s ease-out;transition:background-color .2s ease-out;-webkit-tap-highlight-color:transparent}.promote-layer{-webkit-backface-visibility:hidden;backface-visibility:hidden}.navdrawer-container{z-index:1;position:fixed;top:0;bottom:0;width:250px;height:100%;background-color:#2c3e50;color:#fefefe;-webkit-transform:translate(-250px,0);-ms-transform:translate(-250px,0);transform:translate(-250px,0);overflow-y:scroll}.app-bar,.navdrawer-container,main{-webkit-transition:-webkit-transform .3s ease-out;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out}.navdrawer-container h4,.navdrawer-container ul li a{height:60px;padding:0 20px;line-height:60px}.navdrawer-container h4{background-color:#fff;color:#2c3e50}.navdrawer-container ul{padding:0;margin:0;list-style-type:none}.navdrawer-container ul li a{display:block;text-decoration:none;color:#fff;-webkit-transition:background-color .2s ease-out;transition:background-color .2s ease-out}.navdrawer-container ul li{border-bottom-style:solid;border-width:1px;border-color:#fff;padding:0}.navdrawer-container ul li:before{content:none}main{margin:0 auto;min-height:100%}.large-only{display:none}@media only screen and (min-width:50em){.app-bar{display:none}.large-only{display:block}.app-bar-container{display:block;height:130px;max-width:864px;padding:0 16px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#4285f4}.app-bar .logo{float:left;margin:0;padding:0;line-height:130px;font-size:46px}.app-bar:after{content:' ';display:block;height:0;overflow:hidden;clear:both}button.menu{display:none}nav{display:block;margin-top:130px}.navdrawer-container{width:100%;height:auto;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition:none;transition:none;overflow-y:auto}.navdrawer-container h4{display:none}.navdrawer-container ul{display:-webkit-flex;display:-webkit-box;display:-ms-flexbox;display:flex;max-width:864px;margin:0 auto;-webkit-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.navdrawer-container ul li{border:none}.navdrawer-container ul li:first-child{margin-right:auto}main{max-width:864px;padding-top:0;min-height:initial}body{overflow-y:scroll}.navdrawer-container{position:relative;margin-top:0}}button::-moz-focus-inner{padding:0;border:0}

    </style>
{% endblock inlined_styles %}

{% block body %}

    <!-- Main Blog Content -->
    <div class="full push-down" role="content">

        {# This template is used for 'listings': Generic pages that list a number of
           records from a certain contenttype. These records are available as an array
           called 'records'. In the for-loop below, we iterate over the records that
           are on this page. It can be used for overview pages like 'all entries', or
           'all records tagged with kittens' as well as search result. #}

        {# if used for listing a taxonomy: #}
        {% if taxonomytype is defined %}
            <h1>
                {{ __('Overview for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
        {% endif %}

        {# This is also the default template for searchresults. If 'search' is defined,
           we display an appropriate title. The 'records' array contains all of the
           records matching the current query. If there are no results, the
           code in the 'else' part of the for-loop is used. #}

        {% if search is defined %}
            <h2 class="heading">
                {{ __('Search results for <b>%search%</b>.', { '%search%': search|escape }) }}
            </h2>

        {% endif %}



        {% for record in records %}
            {#  <p>{{ __('In the')}} <strong>{{ record.contenttype.slug }}</strong> section:</p> #}
            <article>
                <h3><a href="{{ record.link }}">{{ record.title }}</a></h3>
                <p>{{ record.excerpt }}</p>

            </article>
            <hr>
        {% else %}
            <article>

                {% if search is defined %}

                    <p>
                        {{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}
                    </p>


                {% else %}

                    <h2>No content found.</h2>

                    <p>
                        Unfortunately, no content could be found. Try another page, or go to the
                        <a href="{{ paths.root }}">homepage</a>.
                    </p>

                {% endif %}

                {#
                optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
                {{ redirect('/') }}
                #}
            </article>

        {% endfor %}

        {% include 'form/_search.twig' %}
    </div>

{% endblock body %}

{% block footer_javascripts %}
    {{ parent() }}
    {#<script src="{{ paths.theme}}js/lib/off-canvas.min.js" async defer ></script>#}
{% endblock footer_javascripts %}
