{#
    October 29 2014 updates
#}


{% extends 'base.html.twig' %}

    {% block dns_prefetch %}
      <link rel="dns-prefetch" href="http://use.typekit.net"/>
      <link rel="dns-prefetch" href="http://p.typekit.net" />
      <link rel="dns-prefetch" href="//www.google-analytics.com"/>
      <link rel="dns-prefetch" href="http://cdn.corydowdy.com"/>
    {% endblock dns_prefetch %}



    {% block inlined_styles %}
        <style>{% include 'css/critical-css/work.04-16-2015.css' %}</style>
    {% endblock %}


{#
    include picturefill here belore the css because it is external
    we want to have it load after all the CSS and the inserted TypeKit CSS.
    and underneath the <noscript> css file
#}
{% block picturefill %}
  {{ parent() }}

    <script src="{{ paths.theme }}js/picturefill/picturefill.min.04062015.js" async defer ></script>
{% endblock picturefill %}




{% block body %}
    <section id="current" class="current-project--evolution full">
      <h2>Current Project</h2>
      <div class="container">
        <div class="showcase-container">
          <figure class="showcase-figure">
            <picture>
              <!--[if IE 9]>
              <video style="display: none;"><![endif]-->
              <source type="image/webp" srcset="files/bypp-showcase-700.webp" media="(min-width: 1000px)">
              <source srcset="files/bypp-showcase-700.png" media="(min-width: 1000px)">
              <source type="image/webp" srcset="files/bypp-showcase-600.webp" media="(min-width: 980px)">
              <source srcset="files/bypp-showcase-600.png" media="(min-width: 980px)">
              <source type="image/webp" srcset="files/bypp-showcase-500.webp" media="(min-width: 800px)">
              <source srcset="files/bypp-showcase-500.png" media="(min-width: 800px)">
              <source type="image/webp" srcset="files/bypp-showcase-360.webp" media="(min-width: 768px)">
              <source srcset="files/bypp-showcase-360.png" media="(min-width: 768px)">
              <source type="image/webp" srcset="files/bypp-showcase-320.webp" media="(min-width: 640px)">
              <source srcset="files/bypp-showcase-320.png" media="(min-width: 640px)">
              <source type="image/webp" srcset="files/bypp-showcase-300.webp" media="(min-width: 360px)">
              <source srcset="files/bypp-showcase-300.png" media="(min-width: 360px)">
              <source type="image/webp" srcset="files/bypp-showcase-260.webp" media="(min-width: 320px)">
              <source srcset="files/bypp-showcase-260.png" media="(min-width: 320px)">
              <!--[if IE 9]></video><![endif]-->
              <img class="center" src="files/bypp-showcase-600.png"
                   alt="Backyard Pleasure Pools site on Multiple Devices"/>
            </picture>
            <figcaption class="showcase-container--caption">
              <p>
                The above screen shots are of Backyard Pleasure Pools. An inground pool company located in Ravenna, Ohio.
                They specialize in custom pools, pool rebuilds and maintenance.
              </p>
            </figcaption>
          </figure>
        </div> <!-- ./showcase-container -->
      </div>
      <div class="full">
        <h3>Site Evolution:</h3>
        <hr/>
        <ul class="icon-blocks">
          <li class="image-lightbox">
            <a href="//cdn.corydowdy.com/assets/img/work/comp_1_pop.png" title="First Site Comp.">
              <img class="center" src="files/comp1-th.png" alt="first site comp" width="395" height="297"/>
            </a>
            <p class="showcase-popup-caption">First Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="//cdn.corydowdy.com/assets/img/work/comp_2_pop.png" title="Second Site Comp.">
              <img class="center" src="files/comp2-th.png" alt="Second site comp" width="395" height="297"/>
            </a>
          <p class="showcase-popup-caption">Second Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="//cdn.corydowdy.com/assets/img/work/comp_3_pop.png" title="Third Site Comp.">
              <img class="center" src="files/comp3-th.png" alt="Third site comp" width="395" height="297"/>
            </a>
            <p class="showcase-popup-caption">Third Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="//cdn.corydowdy.com/assets/img/work/current_pop.png" title="Current Site.">
              <img class="center" src="files/current-th.png" alt="Current Backyard Pleasure Pools site" width="395"
                 height="297"/>
            </a>
            <p class="showcase-popup-caption">Current Site. <small class="hide-small">click to enlarge</small></p>
          </li>
        </ul>
      </div>
    <!-- /.showcase-container-full -->
  </section> <!-- ./evo -->
  <hr/>
  <section id="github-links">
    <div class="full">
      <h3>My Github</h3>

      <p>You can find my Open Source work and the source for this site at my Github account:</p>
      <ul class="external-link-list">
        <li>
          <a href="https://github.com/cdowdy">Github <span
              class="link-icon icon-github-link"></span></a>
        </li>
        <li>
          <a href="https://github.com/cdowdy/corydowdy.com-site">Site Source <span
              class="link-icon icon-github-link"></span></a>
        </li>
      </ul>
    </div>
  </section>
   {{ record.body }}
{% endblock %}

{% block footer_javascripts %}
<script src="{{ paths.theme }}js/work.04212015.min.js" async defer ></script>
{{ parent() }}
{% endblock footer_javascripts %}
