{#
{% include 'headers/_header.html.twig' %}
    {{ record.body }}
{% include 'footers/_footer.html.twig' %}
#}


{% extends 'base.html.twig' %}

{% block enhance_js_meta %}
    {{ parent() }}
    <meta name="fulljs"  content="{{ paths.theme }}js/combined.21-08-2014.js">
{% endblock %}

{#  insert new javascript files #}
{% block header_javascripts %}
    {{ parent() }}
    <script>
        document.createElement( "picture" );
    </script>
    {#<script src="{{ paths.theme }}js/picturefill/picturefill.min.js" async defer></script>#}
{% endblock %}


 {% block fout %}
    {% include 'css/fout.css.twig' %}
 {% endblock fout %}

{# Inlined styles #}
{% block inlined_styles %}
    <style>
        {% include 'css/critical-css/work-critical.css' %}
    </style>
{% endblock %}

{#
    include picturefill here belore the css because it is external
    we want to have it load after all the CSS and the inserted TypeKit CSS.
    and underneath the <noscript> css file
#}
{% block picturefill %}
    <script src="{{ paths.theme }}js/picturefill/picturefill.min.js" async defer></script>
{% endblock picturefill %}


{% block body %}
    <!-- Icon Block Skip links -->
    <ul class="icon-blocks work">
        <li class="w_hov">
            <a href="#current">
                <span class="visuallyhidden">Current Projects Link</span>
                <div class="work_icon">
                    <svg viewbox="0 0 350 266" class="center">
                        <use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-work"></use>
                    </svg>
                </div>
                <h2>Current Project</h2>
            </a>
        </li>
        <li class="w_hov">
            <a href="#c5Section"><span class="visuallyhidden">Concrete 5 Add-ons Link</span>
                <div class="work_icon">
                    <svg viewbox="0 0 350 266" class="center">
                        <use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-demos"></use>
                    </svg>
                </div>
                <h2>Concrete5 Add-ons</h2>
            </a>
        </li>
    </ul> <!-- ./icon-blocks -->
    <section id="current" class="evo">
        <h2>Current Project</h2>
        <div class="showcase-container">
            <figure>
                {#20vw, 37.5vw, 50vw, 68.75vw, 100vw#}
                <img class="center"
                     sizes="80vw"
                     src="files/bypp-showcase-600.png"
                     srcset="files/bypp-showcase-210.png 210w,
                             files/bypp-showcase-320.png 320w,
                             files/bypp-showcase-600.png 600w"

                     alt="Backyard Pleasure Pools on multiple devices"/>

                <figcaption class="showcase-container--caption">
                    <p>
                        The above screen shots are of Backyard Pleasure Pools. An inground pool company located in Ravenna, Ohio.
                        They specialize in custom pools, pool rebuilds and maintenance.
                    </p>
                </figcaption>
            </figure>
        </div> <!-- ./showcase-container -->
        <div class="showcase-container--full">
            <h3>Site Evolution:</h3>
            <hr/>
            <ul class="icon-blocks">
                <li>
                    <a class="image-popup-vertical-fit" href="files/comp_1_pop.png" title="First Site Comp.">
                        <img class="center" src="files/comp1-th.png" alt="first site comp" width="395" height="297" />
                    </a>
                    <p class="showcase-popup-caption">First Site Comp. <small class="hide-small">click to enlarge</small></p>
                </li>
                <li>
                    <a class="image-popup-vertical-fit" href="files/comp_2_pop.png" title="Second Site Comp.">
                        <img class="center" src="files/comp2-th.png" alt="Second site comp" width="395" height="297" />
                    </a>
                    <p class="showcase-popup-caption">Second Site Comp. <small class="hide-small">click to enlarge</small></p>
                </li>
                <li>
                    <a class="image-popup-vertical-fit" href="files/comp_3_pop.png" title="Third Site Comp.">
                        <img class="center" src="files/comp3-th.png" alt="Third site comp" width="395" height="297" />
                    </a>
                    <p class="showcase-popup-caption">Third Site Comp. <small class="hide-small">click to enlarge</small></p>
                </li>
                <li>
                    <a class="image-popup-vertical-fit" href="files/current_pop.png" title="Current Site.">
                        <img class="center" src="files/current-th.png" alt="Current Backyard Pleasure Pools site" width="395" height="297" />
                    </a>
                    <p class="showcase-popup-caption">Current Site. <small class="hide-small">click to enlarge</small></p>
                </li>
            </ul>
        </div>
        <!-- /.showcase-container-full -->
        <hr />
        <section id="c5Section">
            <div class="showcase-container--full">
                <h3>Concrete5 Packages</h3>
                <p>
                    The above image lightboxes (the popup image when clicked) are made possible by a JavaScript plugin by Dmitry
                    Semenov called <a class="external-link" href="//dimsemenov.com/plugins/magnific-popup/">Magnific Popup <svg class="link-icon" role="presentation" title="External Link Icon"><use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-external-link"></use></svg></a>.
                    I turned this plugin into a Concrete5 add on package. The source of the plugin can be found in the link below.
                </p>
            </div>
            <div class="showcase-container--half">
                <h4>Concrete5 Magnific Popup</h4>
                <ul class="external-link-list">
                    <li>
                        <a  href="//github.com/cdowdy/concrete5-magnific-popup">Add-on Source <svg class="link-icon" role="presentation" title="External Link Icon"><use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-external-link"></use></svg></a>
                    </li>
                    <li>
                        <a href="//corydowdy.com/demo/concrete5-magnific-popup">Add-on Demo Page <svg class="link-icon" role="presentation" title="External Link Icon"><use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-external-link"></use></svg></a>
                    </li>
                </ul>
            </div>
            <!-- /.showcase-container- -half -->
            <div class="showcase-container--half">
                <h4>Concrete5 Responsive Images</h4>
                <ul class="external-link-list">
                    <li>
                        <a href="//github.com/cdowdy/concrete5-responsive-images">Add-on Source <svg class="link-icon" role="presentation" title="External Link Icon"><use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-external-link"></use></svg></a>
                    </li>
                    <li>
                        <a href="//corydowdy.com/demo/concrete5-responsive-images">Add-on Demo Page <svg class="link-icon" role="presentation" title="External Link Icon"><use xlink:href="/theme/CoryDowdy/svgsprites/linkicons-sprite.svg#icon-external-link"></use></svg></a>
                    </li>
                </ul>
            </div>
            <!-- /.showcase-container- -half -->

        </section>
        <!-- /#c5Section -->

    </section> <!-- ./evo -->
   {{ record.body }}
{% endblock %}