{#
    October 29 2014 updates
#}

{% extends 'base.html.twig' %}

    {#{% block dns_prefetch %}#}
      {#<link rel="dns-prefetch" href="https://use.typekit.net"/>#}
      {#<link rel="dns-prefetch" href="https://p.typekit.net" />#}
      {#<link rel="dns-prefetch" href="https://www.google-analytics.com"/>#}
      {#<link rel="dns-prefetch" href="https://pullzone1-corydowdywebdesi.netdna-ssl.com"/>#}
    {#{% endblock dns_prefetch %}#}



    {% block inlined_styles %}
        <style>{% include 'css/critical-css/work.' ~ ( critical_update ) ~ '.min.css' %}</style>
    {% endblock %}


{#
    include picturefill here belore the css because it is external
    we want to have it load after all the CSS and the inserted TypeKit CSS.
    and underneath the <noscript> css file
#}
{% block header_javascripts %}
  {{ parent() }}
  <script src="{{ paths.theme }}js/picturefill/picturefill.min.js" async ></script>
  <script src="{{ paths.theme }}js/lib/lazysizes.min.js" async></script>
{% endblock header_javascripts %}




{% block body %}
    <section id="current" class="current-project--evolution full">
      <h2>Current Project</h2>
      <div class="container">
        <div class="showcase-container">
          {#<figure class="showcase-figure">#}
            {#<img class="center"#}
                  {#sizes="(min-width: 40em) 80vw, 100vw"#}
                  {#srcset="files/bypp-showcase-250w.png 250w,#}
                            {#files/bypp-showcase-300.png 300w,#}
                            {#files/bypp-showcase-500.png 500w,#}
                            {#files/bypp-showcase-700.png 700w"#}
                            {#https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/bypp-showcase-700.png 700w"#}
                  {#src="files/bypp-showcase-500.png 500w"#}
                  {#alt="Backyard Pleasure Pools site on Multiple Devices">#}
            {#<figcaption class="showcase-container--caption">#}
              {#<p>#}
                {#The above screen shots are of Backyard Pleasure Pools. An inground pool company located in Ravenna, Ohio.#}
                {#They specialize in custom pools, pool rebuilds and maintenance.#}
              {#</p>#}
            {#</figcaption>#}
          {#</figure>#}
          <figure class="showcase-figure">
            <img class="center"
                 sizes="(min-width: 40em) 80vw, 100vw"
                 srcset="files/bypp-showcase-200.png 200w,
                            files/bypp-showcase-300.png 300w,
                            files/bypp-showcase-478.png 478w,
                            files/bypp-showcase-521.png 521w,
                            files/bypp-showcase-658.png 658w,
                            files/bypp-showcase-726.png 726w,
                            files/bypp-showcase-817.png 817w,
                            files/bypp-showcase-901.png 901w,
                            files/bypp-showcase-1049.png 1049w,
                            files/bypp-showcase-1185.png 1185w,
                            files/bypp-showcase-1311.png 1311w,
                            files/bypp-showcase-1433.png 1433w,
                            files/bypp-showcase-1548.png 1548w,
                            files/bypp-showcase-1600.png 1600w"
                 src="files/bypp-showcase-726.png"
                 alt="Backyard Pleasure Pools site on Multiple Devices">
            <figcaption class="showcase-container--caption">
              <p>
                The above screen shots are of Backyard Pleasure Pools. An inground pool company located in Ravenna, Ohio.
                They specialize in custom pools, pool rebuilds and maintenance.
              </p>
            </figcaption>
          </figure>

        </div> <!-- ./showcase-container -->
      </div>
      <div class="full">
        <h3>Site Evolution:</h3>
        <hr/>
        <ul class="icon-blocks">
          <li class="image-lightbox">
            <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_1_pop.png" title="First Site Comp.">
              <img class="center lazyload"
                   sizes="25vw"
                   data-srcset="files/comp1-th-140w.png 140w,
                   files/comp1-th.png 395w"
                   data-src="files/comp1-th-140w.png"
                   alt="first site comp"/>
            </a>
            <p class="showcase-popup-caption">First Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_2_pop.png" title="Second Site Comp.">
              <img class="center lazyload"
                   sizes="25vw"
                   data-srcset="files/comp2-th-140w.png 140w,
                              files/comp2-th.png 395w"
                   data-src="files/comp2-th-140w.png"
                   alt="Second site comp"/>
            </a>
          <p class="showcase-popup-caption">Second Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/comp_3_pop.png" title="Third Site Comp.">
              <img class="center lazyload"
                   sizes="25vw"
                   data-srcset="files/comp3-th-140w.png 140w,
                              files/comp3-th.png 395w"
                   data-src="files/comp3-th-140w.png"
                   alt="Third site comp"/>
            </a>
            <p class="showcase-popup-caption">Third Site Comp. <small class="hide-small">click to enlarge</small></p>
          </li>
          <li class="image-lightbox">
            <a href="https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/img/work/current_pop.png" title="Current Site.">
              <img class="center lazyload"
                   sizes="25vw"
                   data-srcset="files/current-th-140w.png 140w,
                          files/current-th.png 395w"
                   data-src="files/current-th-140w.png"
                   alt="Current Backyard Pleasure Pools site"/>
            </a>
            <p class="showcase-popup-caption">Current Site. <small class="hide-small">click to enlarge</small></p>
          </li>
        </ul>
      </div>
    <!-- /.showcase-container-full -->
  </section> <!-- ./evo -->
  <hr/>
  <section id="github-links">
    <div class="full">
      <h3>My Github</h3>

      <p>You can find my Open Source work and the source for this site at my Github account:</p>
      <ul class="external-link-list">
        <li>
          <a href="https://github.com/cdowdy">Github <span
              class="link-icon icon-github-link"></span></a>
        </li>
        <li>
          <a href="https://github.com/cdowdy/corydowdy.com-site">Site Source <span
              class="link-icon icon-github-link"></span></a>
        </li>
      </ul>
    </div>
  </section>
   {{ record.body }}
{% endblock %}

{% block footer_javascripts %}
<script src="{{ paths.theme }}js/lightbox.08172015.min.js" async defer ></script>
  {#<script>if(!window.HTMLPictureElement){function loadJS(e,t){"use strict";var n=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,n.parentNode.insertBefore(o,n),t&&"function"==typeof t&&(o.onload=t),o}loadjs('{{ paths.theme }}js/picturefill/picturefill.min.js')}</script>#}

{{ parent() }}
{% endblock footer_javascripts %}
