{% set link = pager.makelink() %}

{#
  Apparently "surr" is an integer. https://github.com/bolt/bolt/blob/b24eadcee7da4c8d9ec6140298667223d4efa451/app/view/twig/_macro/_pager.twig#L5
#}

{% if pager.totalpages > 1 %}
  <section class="blog-pagination">
    <ul class="pagination-list" role="menubar" aria-label="Pagination">

      {# if the current Page is greater than 1 Show the Previous Page Link #}
      {% if pager.current > 1 %}
      <li class="arrow">
        <a href="{{link}}{{pager.current-1}}" aria-label="Previous Page">&laquo; Previous</a>
      </li>
      {% endif %}

      {# if the current page is greater than 1 of the total pages Show The "First Page" Link Item #}
      {% if pager.current > surr+1 %}
      <li class="arrow">
        <a href="{{link}}{{1}}" aria-label="First Page">&laquo; 1</a>
      </li>
      {% endif %}

      {# For each item in the pager list print out a list item with the anchor link attach a current class to the
         current page If its the page we are on add aria label "Current Page" ie: aria-label="Current Page" all
         other pages get an aria-label with their page number ie: aria-label="Page 1"
      #}

      {% for i in max(1, pager.current-surr)..min(pager.current+surr, pager.totalpages) %}
      <li {% if i==pager.current %}class="current"{%endif%}>
        <a href="{{link}}{{i}}" {% if i == pager.current %}aria-label="Current Page" {% else %} aria-label="Page {{i}}"{% endif %}>
          <span class="visuallyhidden">Page</span> {{i}}
        </a>
      </li>
      {% endfor %}

        {# if the current page is less than the total amount of pages we are paginating
            Add in Next Page. So for Two pages of pagination it will look like:
            1 2 Next Page >>
        #}
        {% if pager.current < pager.totalpages %}
        <li class="arrow">
        <a href="{{link}}{{pager.current+1}}" aria-label="Next Page">Next Page &raquo;</a>
        </li>
        {% endif %}

        {# For multiple pages (say for instance 5 pages of entries) add in a "Last Page" link
            That will take the user to the last page of the pagination list (this instance page 5)
        #}
      {% if pager.current < pager.totalpages-surr %}
      <li>
        <a href="{{link}}{{pager.totalpages}}" aria-label="Last Page">Last Page </a>
      </li>
      {% endif %}

    </ul>
</section>
{% endif %}
