 {# Include header, navigation here #}

 <div class="push-down--home full">
      <ul class="icon-blocks">
        <li class="home-icon-hover">
          <a href="/work" aria-label="External Link to Work"><span class="visuallyhidden">Work</span>
            <span class="home-full-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-work"></use>
              </svg>
            </span>
            <span class="home-mobile-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-work-mobile"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="home-icon-hover">
          <a href="#"><span class="visuallyhidden">Contact</span>
          <span class="home-full-icon">
            <svg  role="presentation"class="center home-full-icon">
              <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-contact"></use>
            </svg>
          </span>
            <span class="home-mobile-icon">
               <svg  class="center"  role="presentation">
                 <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-contact-mobile"></use>
               </svg>
            </span>
          </a>
        </li>
        <li class="home-icon-hover">
          <a href="/blog" aria-label="External Link to Blog"><span class="visuallyhidden">Blog</span>
            <span class="home-full-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-blog"></use>
              </svg>
            </span>
            <span class="home-mobile-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-blog-mobile"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="home-icon-hover">
          <a href="/demo" aria-label="External Link to Demos"><span class="visuallyhidden">Demos</span>
            <span class="home-full-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-demo"></use>
              </svg>
            </span>
            <span class="home-mobile-icon">
              <svg  role="presentation" class="center">
                <use xlink:href="{{ paths.theme }}svgsprites/home/svgsprite-home.svg#icon-demo-mobile"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    {# Include Footer, closing main, scripts and body #}